version: "3.9"

services:
  mongo:
    image: mongo:6
    container_name: self_healing_mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  mongo-express:
    image: mongo-express
    container_name: mongo_express
    ports:
      - "8081:8081"
    environment:
      - ME_CONFIG_MONGODB_SERVER=mongo
    depends_on:
      - mongo

  test-runner:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    container_name: self_healing_runner
    depends_on:
      - mongo
    environment:
      - MONGO_URI=mongodb://mongo:27017
      - ENABLE_DB=true
    volumes:
      - ..:/app
    command: pytest -v --alluredir=reports/allure-results

volumes:
  mongo_data: